/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #333333;
}

.dark-mode nav ul li a {
    color: #ffffff;
}

.dark-mode footer {
    background-color: #333333;
}
